<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wu.wunba">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />



    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />


    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyNoActionBarTheme">


        <activity android:name=".ui.activity.WelcomeNBAChina"
            android:theme="@style/FullScreenTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--配置configChanges 播放视频横屏幕就不会崩溃-->

        <activity android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.GameDateSelectActivity"
            android:theme="@style/SwipeBackLayoutTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.NBAPlayerDetialActivity"
            android:theme="@style/SwipeBackLayoutTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.NBANewsDetailActivity"
            android:theme="@style/SwipeBackLayoutTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.NBAPicturesDetailActivity"
            android:theme="@style/SwipeBackLayoutTheme"
            android:screenOrientation="portrait"/>
        <!--<service android:name=".service.NBAGetDataService"/>-->

        <activity android:name=".ui.activity.NBAImportanceDayActivity"
            android:theme="@style/SwipeBackLayoutTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.NBAPlayersActivity"
            android:theme="@style/SwipeBackLayoutTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.NBATeamActivity"
            android:theme="@style/SwipeBackLayoutTheme"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activity.NBATeamDetailActivity"
            android:theme="@style/SwipeBackLayoutTheme"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activity.NBAGameDetailActivity"
            android:theme="@style/SwipeBackLayoutTheme"
            android:screenOrientation="portrait"
            />




        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58b3d25745297d2a4d000611" >
        </meta-data>
        <meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>


        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />



    </application>

</manifest>